@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slideInFromLeft 0.2s cubic-bezier(0.16, 1, 0.3, 1);
}
